.user-list-container {
  padding: 20px;
  background-color: #fff;
}

.action-buttons {
  margin-bottom: 20px;
}

.action-buttons .btn {
  margin-right: 10px;
}

.search-input {
  margin-bottom: 20px;
  max-width: 300px;
}

.role {
  font-size: 12px;
  color: #6c757d;
}

td svg {
  margin-left: 10px;
  vertical-align: middle;
}
.text-danger {
  color: #dc3545;
}

.ml-2 {
  margin-left: 0.5rem;
}